{% import 'bootstrap/wtf.html' as wtf%}

{% macro render_todo(todo, delete_form, update_form) %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Descripcion: {{ todo.description }}
        <span class="badge bg-primary rounded-pill">
            {% if todo.done %}
                Done
            {% else %}
                To do
            {% endif %}
        </span>
        <a 
          	href="{{ url_for('delete', todo_id=todo._id)}}"
          	class="btn d-inline-block btn-danger">
            Borrar
        </a>
        <a 
          	href="{{ url_for('update', todo_id=todo._id, done=todo.done)}}"
          	class="btn d-inline-block btn-warning">
            Actuaizar
        </a>
<!--         <button type="button" class="btn btn-light">
            {{ wtf.quick_form(delete_form, action=url_for('delete', todo_id=todo._id)) }}
        </button> -->
        <!-- <button type="button" class="btn btn-warning">
            {{ wtf.quick_form(update_form, action=url_for('update', todo_id=todo._id, done=todo.done)) }}
        </button> -->
    </li>
{% endmacro %}